[run]
source =
    xpdsim
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    # ignore _version.py and versioneer.py
    .*version.*
    *_version.py
    xpdsim/tests/conftest.py

exclude_lines =
    if __name__ == '__main__':
